
<!-- /*logo start*/
.id1{
    list-style: none;
    display: flex;
    margin-top: 30px;
    gap: 24px;
}
#k1 {
    position: relative;

    width: 100px;
    height: 100px;
    background: #474644;
    border-radius: 15px;
    border-bottom: 5px solid #33322f;
    border-left: 3px solid #000000;
    box-shadow: -3px 5px 10px 3px #33322f80, 5px -5px 20px 10px #33322f80, 0px 2px 1px #000000b3;
    transition: transform 0.15s ease-in-out;
}

#id2{
    width: 100%;
    height: 100%;
    
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#id3{
    font-size: 3rem;
    color: #858482;
    text-shadow: 0px 0px #504F4E, 0px 1px #424241, -1px 1px #353534, -2px 3px #282827, 0px 6px 5px #33322fcc;
}

.tiktok:hover #id3{
    text-shadow: 0px 0px #C42829, 0px 1px #AE2425, -1px 2px #991F20, -2px 3px #831B1C, 0px 6px 5px #33322fcc, 0 0 1em #ff0050;
    color: #ff0050;
}

.twitter:hover #id3{
    text-shadow: 0px 0px #34AEDF, 0px 1px #2E9AC6, -1px 2px #2987AE, -2px 3px #237495, 0px 6px 5px #33322fcc, 0 0 1em #3ac1f8;
    color: #3ac1f8;
}

.facebook:hover #id3{
    text-shadow: 0px 0px #394C89, 0px 1px #32447A, -1px 2px #2C3B6A, -2px 3px #26335B, 0px 6px 5px #33322fcc, 0 0 1em #4267B2;
    color: #4267B2;
}
.instagram:hover #id3 {
    text-shadow: 0px 0px #833AB4, 0px 1px #833AB4, -1px 2px #C13584, -2px 3px #FD1D1D, -3px 4px #F56040, 0px 6px 5px #FCAF45, 0 0 1em #FCAF45;
    color: #FCAF45;
}
.youtube:hover #id3 {
    text-shadow: 0px 0px #C42829, 0px 1px #AE2425, -1px 2px #991F20, -2px 3px #831B1C, 0px 6px 5px #33322fcc, 0 0 1em #ff0050;
    color: #ff0000;
}

.github:hover #id3 {
    text-shadow: 0px 0px #C42829, 0px 1px #AE2425, -1px 2px #991F20, -2px 3px #831B1C, 0px 6px 5px #33322fcc, 0 0 1em #ff0050;
    color:  #ffffff;
}


.whatsapp:hover #id3 {  
    text-shadow: 0px 0px #25D366, 0px 1px #25D366, -1px 2px #25D366, -2px 3px #25D366, 0px 6px 5px #25D366, 0 0 1em #25D366;
    color: #25D366;

}
<!-- /*logo end*/







#gohan {
    /* border: 1px solid black; */
    /* position: relative; */
    /* top: 300%; */
    /* height: 100%; */
    /* display: flex; */
    justify-content: center;
    transition: box-shadow 0.3s ease;
    /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4); */
    color : #999;
    /* left: 200px; */
    /* margin-left: 110px; */
    margin-right: 110px;
    text-decoration: none;
    /* letter-spacing: 4px; */
   
}


#fireworks {
    position: absolute;
    width: 100%;
    height: 100%;
}

#fireworks:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    border-radius: 50%;
    animation: fireworks 1s infinite;
}

@keyframes fireworks {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(-100px, -200px) rotate(720deg);
        opacity: 0;
    }
}

#gohan:hover #fireworks:before {
    animation: fireworks 1s infinite;
}


/* #gohan:hover {
    transform: translateY(-5px);
    background: linear-gradient(to right, #daf1b2, #90e9eb);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); 
} */



/* #gohan:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); /* Hiệu ứng di chuyển xung quanh viền */

.travel{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100;
    font-weight: bold;
    color: #0056b3;
}

.text1{

    margin-top: 100px;
}
#mcd{
    position: relative;
    text-justify: center;
    top: -140px;
}

#see{
    position: relative;
    height: 300px;
}
.mxh {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #ff6a00;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    overflow: hidden;
    transform: translateY(-5px);
    background: linear-gradient(to right, #8db6da, #fcdd8a);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); 
}

.mxh:before,
.mxh:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid transparent; /* Đường border mặc định */
    transition: border-color 0.3s ease; /* Hiệu ứng màu cho border */
    z-index: 1;
}

.mxh:before {
    top: 0;
    bottom: auto;
    border-top: 3px solid transparent; /* Đường border mặc định */
    transition: border-color 0.3s ease; /* Hiệu ứng màu cho border */
}

.mxh:hover:before,
.mxh:hover:after {
    border-color: #ff00ff; /* Màu của border khi hover */
}

.mxh:hover:before {
    border-color: #ff00ff; /* Màu của border khi hover */
}


.kl {
    font-weight: 500; /* Giá trị font-weight lớn hơn để làm cho chữ đậm hơn */
    color: #0051ff;
    font-family: 'Times New Roman', Times, serif;
}


#qt{
    color: #a11a1a;
}

.social-icons {
    display: flex;
    justify-content: center; /* Canh giữa các logo */
    align-items: center; /* Canh giữa theo chiều dọc */
}

.social-icons a {
    margin: 0 10px; /* Khoảng cách giữa các logo */
}

.social-icons a i {
    font-size: 24px; /* Kích thước của logo */
    color: #333; /* Màu của logo */
}

/* Tùy chỉnh màu của từng logo */
.social-icons .tiktok i {
    color: #69c9d0; 
}

.social-icons .twitter i {
    color: #1da1f2; 
}

.social-icons .facebook i {
    color: #3b5998; 
}

#app{
    overflow: hidden;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 00 30px #000;
}

#app a{
    margin-top: 10px;
    font-display: inline-block;
    text-decoration: none;
    color : #fff;
}

#app canvas{
    display: block;
    position: fixed;
    top: 0;
    z-index: -1;
    
}

#gohan{
    position: relative;
    top: 200px;
    width: 100%;
    height: 600px;
    /* border-radius: 10%;  */
}